name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version of the template we want to release. For example 0.75.0-rc.0"
        required: true
        type: string
      is_latest_on_npm:
        description: "Whether we want to tag this template release as `latest` on NPM"
        required: true
        type: boolean
        default: false

jobs:
  publish_template:
    runs-on: ubuntu-latest
    steps:
      - name: Safeguard against branch name
        run: |
          if [[ "$GITHUB_REF_NAME" != *-stable ]]; then
            echo "Error: This workflow can only be executed from a branch ending with '-stable'."
            exit 1
          fi
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup node.js
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
      - name: Update versions to input one
        run: node ./scripts/updateTemplateVersion.js "${{ inputs.version }}"
      - name: Create corresponding commit & git tag
        run: |
          git config --global user.name 'React Native Bot'
          git config --global user.email 'bot@reactnative.dev'
          git commit -am "Bumping template to ${{ input.version }}"
          git push
          git tag ${{ input.version }}
          git push --tags
      - name: Publish NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Set NPM tags
        run: |
          VERSION="${{ inputs.version }}"
          IS_LATEST_ON_NPM="${{ inputs.is_latest_on_npm }}"
          if [[ "$IS_LATEST_ON_NPM" == "true" ]]; then
            npm dist-tag add @react-native-community/template@$VERSION latest
          fi
          if [[ "$VERSION" == *"rc"* ]]; then
            npm dist-tag add @react-native-community/template@$VERSION next
          fi
          if [[ "$GITHUB_REF_NAME" == *"-stable" ]]; then
            npm dist-tag add @react-native-community/template@$VERSION $GITHUB_REF_NAME
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
